<%= form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :facebookeventid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :facebookeventid, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :eventname, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :eventname, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :eventurl, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :eventurl, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :additionallistingtext, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :additionallistingtext, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tags, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tags, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :videoembed, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :videoembed, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dates, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :dates, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :eventimages, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :eventimages, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :prices, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :prices, :class => 'text_area' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div>
<% end %>
