<%- model_class = Event.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:venue) %></th>
      <th><%= model_class.human_attribute_name(:facebookeventid) %></th>
      <th><%= model_class.human_attribute_name(:eventname) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:eventurl) %></th>
      <th><%= model_class.human_attribute_name(:additionallistingtext) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:tags) %></th>
      <th><%= model_class.human_attribute_name(:videoembed) %></th>
      <th><%= model_class.human_attribute_name(:dates) %></th>
      <th><%= model_class.human_attribute_name(:eventimages) %></th>
      <th><%= model_class.human_attribute_name(:prices) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>

      <tr>
        <td><%= link_to event.id, event_path(event) %></td>
        <% if event.venue %>
          <td><%= link_to event.venue.name, venue_path(event.venue) %></td>
        <% else %>
          <td></td>
        <% end%>
        <td><%= event.facebookeventid %></td>
        <td><%= event.eventname %></td>
        <td><%= event.description %></td>
        <td><%= event.eventurl %></td>
        <td><%= event.additionallistingtext %></td>
        <td><%= event.status %></td>
        <td><%= event.tags %></td>
        <td><%= event.videoembed %></td>
        <td><%= event.dates %></td>
        <td><%= event.eventimages %></td>
        <td><%= event.prices %></td>
        <td><%=l event.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_event_path(event), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      event_path(event),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_event_path,
            :class => 'btn btn-primary' %>
