<%- model_class = @event.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:facebookeventid) %>:</strong></dt>
  <dd><%= @event.facebookeventid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:eventname) %>:</strong></dt>
  <dd><%= @event.eventname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @event.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:eventurl) %>:</strong></dt>
  <dd><%= @event.eventurl %></dd>
  <dt><strong><%= model_class.human_attribute_name(:additionallistingtext) %>:</strong></dt>
  <dd><%= @event.additionallistingtext %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @event.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tags) %>:</strong></dt>
  <dd><%= @event.tags %></dd>
  <dt><strong><%= model_class.human_attribute_name(:videoembed) %>:</strong></dt>
  <dd><%= @event.videoembed %></dd>
  <dt><strong><%= model_class.human_attribute_name(:dates) %>:</strong></dt>
  <dd><%= @event.dates %></dd>
  <dt><strong><%= model_class.human_attribute_name(:eventimages) %>:</strong></dt>
  <dd><%= @event.eventimages %></dd>
  <dt><strong><%= model_class.human_attribute_name(:prices) %>:</strong></dt>
  <dd><%= @event.prices %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              events_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_event_path(@event), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              event_path(@event),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
