<%= form_for @venue, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :venueurl, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :venueurl, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :city, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :city, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :state, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :state, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :postalcode, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :postalcode, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :country, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :country, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :twitterid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :twitterid, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :venueimages, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :venueimages, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :event_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :event_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :venueid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :venueid, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                venues_path, :class => 'btn' %>
  </div>
<% end %>
