<%- model_class = @venue.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @venue.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:venueurl) %>:</strong></dt>
  <dd><%= @venue.venueurl %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @venue.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= @venue.state %></dd>
  <dt><strong><%= model_class.human_attribute_name(:postalcode) %>:</strong></dt>
  <dd><%= @venue.postalcode %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @venue.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @venue.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:twitterid) %>:</strong></dt>
  <dd><%= @venue.twitterid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:venueimages) %>:</strong></dt>
  <dd><%= @venue.venueimages %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event_id) %>:</strong></dt>
  <dd><%= @venue.event_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:venueid) %>:</strong></dt>
  <dd><%= @venue.venueid %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              venues_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_venue_path(@venue), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              venue_path(@venue),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
