<%= form_for @attraction, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :sequence, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sequence, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :artist, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :artist, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :artistid, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :artistid, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :billing, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :billing, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :genre, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :genre, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :links, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :links, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :event_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :event_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :video, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :video, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :image, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                attractions_path, :class => 'btn' %>
  </div>
<% end %>
