<%- model_class = @attraction.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:sequence) %>:</strong></dt>
  <dd><%= @attraction.sequence %></dd>
  <dt><strong><%= model_class.human_attribute_name(:artist) %>:</strong></dt>
  <dd><%= @attraction.artist %></dd>
  <dt><strong><%= model_class.human_attribute_name(:artistid) %>:</strong></dt>
  <dd><%= @attraction.artistid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:billing) %>:</strong></dt>
  <dd><%= @attraction.billing %></dd>
  <dt><strong><%= model_class.human_attribute_name(:genre) %>:</strong></dt>
  <dd><%= @attraction.genre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:links) %>:</strong></dt>
  <dd><%= @attraction.links %></dd>
  <dt><strong><%= model_class.human_attribute_name(:event_id) %>:</strong></dt>
  <dd><%= @attraction.event_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:video) %>:</strong></dt>
  <dd><%= @attraction.video %></dd>
  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= @attraction.image %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              attractions_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_attraction_path(@attraction), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              attraction_path(@attraction),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
